-r requirements.txt

psycopg2-binary

# Test & lint packages
coverage==6.4.4
flake8==5.0.4
parameterized==0.8.1
pytest==7.1.2
pytest-cov==3.0.0
pytest-mock==3.8.2
pytest-xdist==2.5.0
six==1.16.0
twine==4.0.1
pytest-mockservers==0.6.0
radon==5.1.0
